.DS_Store

#----------------------------------------#
# IDE Files                              #
#----------------------------------------#
/nbproject/
.idea/*

#----------------------------------------#
# Sublime Text cache files               #
#----------------------------------------#
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

#----------------------------------------#
# Visual Studio Code                     #
#----------------------------------------#
.vscode/
.vscode/*

#----------------------------------------#
# Test                                   #
#----------------------------------------#
/test/

#----------------------------------------#
# Vagrant VM                             #
#----------------------------------------#
/ubuntu/16.04/*.log
/ubuntu/18.04/*.log
/ubuntu/20.04/*.log
/ubuntu/16.04/.vagrant/
/ubuntu/18.04/.vagrant/
/ubuntu/20.04/.vagrant/
/ubuntu/16.04/Vagrantfile
/ubuntu/18.04/Vagrantfile
/ubuntu/20.04/Vagrantfile

config.yml

!.gitignore